{% extends "template.html" %}
{% load staticfiles %}

{% block content %}
<!--content-->
<div class="content" id="content-down">
	<div class="content-top-top">
		<div class="container">
			<div class="content-top">
				<div class="col-md-4 content-left animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
					<h3>About</h3>
					<label><i class="glyphicon glyphicon-menu-up"></i></label>
					<span>There are many variations</span>
				</div>
				<div class="col-md-8 content-right animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
					<p>There are many variations of food available world wide. Don't Worry though Kitas makes sure you get to enjoy 
						all of them. Kitas presents you with all the simple recipes across the world. Take your pick - breakfast, snack or a tummy filling meal :).</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="content-mid" style="padding: 0 50px 50px 10px;">
				{% for rec in rec_category %}
					<a href="/category/{{ rec.0 }}">
						<div class="col-md-4 food-grid animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms"  style="padding: 15px;">
							<div class=" hover-fold">
								<h4>{{ rec.0 }}</h4>
								<div class="top">
									<div class="front face"></div>
									<div class="back face">
									<p> {{ rec.1 }} </p>
									</div>
								</div>
								<div class="bottom"></div>
							</div>
							<!-- <button type="button" class="btn btn-success">Read More</button> -->
						</div>
					</a>
				{% endfor %}
				<div class="bottom bottom1"></div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}