{% extends "template.html" %}
{% load staticfiles %}

{% block content %}
	<!--content-->
	<div class="menu" ng-app="myApp" ng-controller="namesCtrl">
		<div class="container">
			<div class="menu-top">
				<div class="col-md-4 menu-left animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
					<h3>Menu</h3>
					
				</div>
				
				<div class="col-md-8 menu-right animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
					<p>Pick the ingredients and we will show you what all you can cook with it.<br>Simple, isn't it?</p>
					
  
				</div>
				<div class="clearfix"> </div>
			</div>			
		</div>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

		<!-- jQuery first, then Tether, then Bootstrap JS. -->
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

		<div class="container" style="width: 60%; margin: auto">
			<form action="/search_for_recipes" method="post">
				<div id="accordion" role="tablist" aria-multiselectable="true">
					{% for ingr_category in ingr_categories %}
					<div class="card">
						<div class="card-header" role="tab" id="headingOne">
							<h5 class="mb-0">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									{{ ingr_category.0 }}
								</a>
							</h5>
						</div>

						<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
							<div class="card-block">
								{% for ingr in ingr_category.1 %}
								<input type="checkbox" name="ingr[]" value="{{ ingr }}">{{ ingr }}<br>
								}
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
				<br>
				<center><input type="submit" value="Submit"></center>
			</form>
		</div>

		<script>
		function myFunction()
		{	
			// var jsonselection = JSON.stringify($scope.selection);
		$http.post('localhost:8000/kitas/menu/b',{'key':$.toJSON($scope.selection)});
		}
		</script>    

	</div>
{% endblock %}