{% extends "template.html" %}

{% load staticfiles %}

{% block content %}

						<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  						<link rel="stylesheet" href="/resources/demos/style.css">

  						<style>
				  		.custom-combobox {
				    		position: relative;
				    		display: inline-block;
				  		  }
						  .custom-combobox-toggle {
						    position: absolute;
						    top: 0;
						    bottom: 0;
						    margin-left: -1px;
						    padding: 0;
						  }
						  .custom-combobox-input {
						    margin: 0;
						    padding: 5px 10px;
						  }
						  </style>


		  <script>
  $(document).ready( function() {
    $.widget( "custom.combobox", {
      _create: function() {
        this.wrapper = $( "<span>" )
          .addClass( "custom-combobox" )
          .insertAfter( this.element );
 
        this.element.hide();
        this._createAutocomplete();
        this._createShowAllButton();
      },
 
      _createAutocomplete: function() {
        var selected = this.element.children( ":selected" ),
          value = selected.val() ? selected.text() : "";
 
        this.input = $( "<input>" )
          .appendTo( this.wrapper )
          .val( value )
          .attr( "title", "" )
          .addClass( "custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left" )
          .autocomplete({
            delay: 0,
            minLength: 0,
            source: $.proxy( this, "_source" )
          })
          .tooltip({
            classes: {
              "ui-tooltip": "ui-state-highlight"
            }
          });
 
        this._on( this.input, {
          autocompleteselect: function( event, ui ) {
            ui.item.option.selected = true;
            this._trigger( "select", event, {
              item: ui.item.option
            });
          },
 
          autocompletechange: "_removeIfInvalid"
        });
      },
 
      _createShowAllButton: function() {
        var input = this.input,
          wasOpen = false;
 
        $( "<a>" )
          .attr( "tabIndex", -1 )
          .attr( "title", "Show All Items" )
          .tooltip()
          .appendTo( this.wrapper )
          .button({
            icons: {
              primary: "ui-icon-triangle-1-s"
            },
            text: false
          })
          .removeClass( "ui-corner-all" )
          .addClass( "custom-combobox-toggle ui-corner-right" )
          .on( "mousedown", function() {
            wasOpen = input.autocomplete( "widget" ).is( ":visible" );
          })
          .on( "click", function() {
            input.trigger( "focus" );
 
            // Close if already visible
            if ( wasOpen ) {
              return;
            }
 
            // Pass empty string as value to search for, displaying all results
            input.autocomplete( "search", "" );
          });
      },
 
      _source: function( request, response ) {
        var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
        response( this.element.children( "option" ).map(function() {
          var text = $( this ).text();
          if ( this.value && ( !request.term || matcher.test(text) ) )
            return {
              label: text,
              value: text,
              option: this
            };
        }) );
      },
 
      _removeIfInvalid: function( event, ui ) {
 
        // Selected an item, nothing to do
        if ( ui.item ) {
          return;
        }
 
        // Search for a match (case-insensitive)
        var value = this.input.val(),
          valueLowerCase = value.toLowerCase(),
          valid = false;
        this.element.children( "option" ).each(function() {
          if ( $( this ).text().toLowerCase() === valueLowerCase ) {
            this.selected = valid = true;
            return false;
          }
        });
 
        // Found a match, nothing to do
        if ( valid ) {

          return;
        }
 
        // Remove invalid value
        this.input
          .val( "" )
          .attr( "title", value + " didn't match any item" )
          .tooltip( "open" );
        this.element.val( "" );
        this._delay(function() {
          this.input.tooltip( "close" ).attr( "title", "" );
        }, 2500 );
        this.input.autocomplete( "instance" ).term = "";
      },
 
      _destroy: function() {
        this.wrapper.remove();
        this.element.show();
      }
    });
 
    $( "#combobox" ).combobox();
    $( "#toggle" ).on( "click", function() {
      $( "#combobox" ).toggle();
    });
  } );
  </script>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  							

								 

						  <script>
							// function dateGenerate() {
							//    var date = new Date(), dateArray = new Array(), i;
							//    curYear = date.getFullYear();
							//     for(i = 0; i<5; i++) {
							//         dateArray[i] = curYear+i;
							//     }
							//     return dateArray;
							// }
							// var t=0;
							function addSelect(divname) {
							   var newDiv=document.createElement('div');
							// <select id="combobox" name="ingre[]" value="ingre[]" onfocus="this.value='';" onblur="if (this.value == '') 	{this.value = 'Ingredient';}">
						 //  	<option value="">select</option>
						 //  	{% for i in list_ingre %}
						 //    <option value="{{i.0}}">{{i.0}}</option>
						 //    {% endfor %}
						 //  </select>

							   // var html1 = '<p> <select id="combobox" name="ingre[]" value="ingre[]"> <option value=""> selectone </option> {% for i in list_ingre %} <option value="{{i.0}}"> {{i.0}} </option> {% endfor %} </select> </p>';
							   var html = '<select id="combobox" name="ingre[]" value="ingre[]" onfocus="this.value=\'\';" onblur="if (this.value == \'\') 	{this.value = \'select\';}">{% for i in list_ingre %}<option value="{{i.0}}">{{i.0}}</option>{% endfor %}</select><input type="text" value="qty" name="qty[]" onfocus="this.value=\'\';" onblur="if (this.value == \'\') 	{this.value = \'qty\';}"><br><br>';
							   newDiv.innerHTML = html;
							   // newdiv = document.getElementById(divname);
							   // newDiv.innerHTML = newdiv;
							   document.getElementById(divname).appendChild(newDiv);
							   // var cont = '<select id="combobox" name="ingre[]" value="ingre[]" onfocus="this.value='';" onblur="if (this.value == ''){this.value=\'Ingredient\';}"><option value="">select</option>{% for i in list_ingre %}<option value="{{i.0}}">{{i.0}}</option>{% endfor %}</select><br>';
							   // $('#select-container').append("<select id=\"combobox\" name=\"ingre[]\" value=\"ingre[]\" onfocus=\"this.value='';\" onblur=\"if (this.value == ''){this.value='Ingredient';}\"><option value=\"\">select</option>{% for i in list_ingre %}<option value=\"{{i.0}}\">{{i.0}}</option>{% endfor %}</select><br>");
							   
							   // var cont = $('#select-container').html();
							   

							   // $('#select-container').append(cont);
							}
							</script>

						 
						  
	<!-- 
						<div id="final" hidden="">
							
						  	<select id="combobox" name="ingre[]" value="ingre[]" onfocus="this.value='';" onblur="if (this.value == ''){this.value=\'Ingredient\';}"><option value="">select</option>{% for i in list_ingre %}<option value="{{i.0}}">{{i.0}}</option>{% endfor %}</select><br>
						</div> -->



	<div class="leave" align="center">
			<h3>We would love to have your recipe!</h3>
				<form action="/subrecipe" method="post" class="form-inline">
					{% csrf_token %}
					<div class="single-grid wow fadeInLeft animated" data-wow-delay=".5s">
						
							<input type="text" value="Name" name="name" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Name';}">
						
							<input type="text" value="Preparation Time" name="pt" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Preparation Time';}">

							<!-- <select id="combobox" name="ingre[]" value="ingre[]">
						  	<option value="">select</option>
						  	{% for i in list_ingre %}
						    <option value="{{i.0}}">{{i.0}}</option>
						    {% endfor %}
						  </select> -->


						<div class="ui-widget form-group">
						<table class="table-responsive">
						<tr><td><label>Add an ingredient:</label><br></td>
							
							<td><div id="select-container">
							
						  	<!-- <select id="combobox" name="ingre[]" value="ingre[]" onfocus="this.value='';" onblur="if (this.value == ''){this.value='Ingredient';}"><option value="">select</option>{% for i in list_ingre %}<option value="{{i.0}}">{{i.0}}</option>{% endfor %}</select><br><input type="text" value="" name="qty[]"> -->

						</div></td>
						
						</tr></table>
						<!-- <td> -->
						
						<!-- </td></tr> -->
						<!-- </table> -->
							<button type="button" id="add" onclick="addSelect('select-container')">Add Ingredient</button>
						  </div>
							
							
							<!-- <input type="text" value="Ingredients" name="ingredient" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Ingredient';}"> -->
							
							<!-- yaha quantity ka box -->

							<input type="text" value="Servings" name="servings" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Servings';}">
						
							<textarea value=" " name="directions" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Directions';}">Directions</textarea>

							<input type="text" value="Category" name="category" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Category';}">
						<label class="hvr-rectangle-out">
								<input type="submit" value="Submit">
						</label>						
				</div>
				</form>
	</div>

<!-- <div id="nello" hidden="">
							
						  	<select id="combobox" name="ingre[]" value="ingre[]" onfocus="this.value='';" onblur="if (this.value == ''){this.value=\'Ingredient\';}"><option value="">select</option>{% for i in list_ingre %}<option value="{{i.0}}">{{i.0}}</option>{% endfor %}</select><br>
						</div> -->


{% endblock %}


