{% extends "template.html" %}
{% load staticfiles %}

{% block content %}
<!--content-->

<script type="text/javascript">
	function ajaxone(){
		var name;
		$ajax({
			url: "/favrecipe",
			type: "post",
			data: "name=a",
			dataType: "script",
			success: function(){
				alert("hi");
			}
		});
	}
</script>

<div class="blog">
	<div class="container">
		
		<div class="col-md-9 ">
			<!--content-->
				<div class="single">
					
					<div class="single-top">
						<img class="img-responsive wow fadeInUp animated" data-wow-delay=".5s" src="{% static 'images/ss.jpg' %}"/>
						<div class="lone-line">
							<h4>{{ recipe_info.0 }}</h4>
								<ul class="grid-blog">
									<li><span><i class="glyphicon glyphicon-time"> </i>{{ recipe_info.2 }}</span></li>
									<li><button class="button btn btn-primary" onclick="ajaxone()">Like</button></li>
								</ul>
								<p class="wow fadeInLeft animated" data-wow-delay=".5s">
									{{ recipe_info.1 | safe }}
								</p>
						</div>
					</div>
					
				</div>
		</div>
		
		
	</div>
	{% if request.session.user != None  %}
			<a href="/makearecipe/{{ recipe_info.0 }}"><button class="button btn btn-primary" style="margin: 70px;"> Make a recipe </button></a>
		{% endif %}
		


<!--//content-->

{% endblock %}

